.firefoxModalWrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  max-height: 680px;
  height: 100%;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: black;
  }
  header {
    font-weight: bold;
  }
  h1 {
    color: white;
    font-size: 3vh;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: white;
  line-height: 50px;
  font-size: 2vh;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
.btn-Firefox {
  text-decoration: none;
  i {
    padding-right: 0.3em;
  }
}



.photoWrapper{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.img1 {
  width: 100%;
  max-width: 1120px;
  height: auto;
  max-height: 630px;
  min-width: 300px;
  margin-bottom: 10px;
  align-self: center;
  cursor: pointer;
  border-radius: 4px;
}

.basicsleft {
  width: 150px;
  display: flex;
  justify-content:center;
  align-items: center;
  height: 150px;
  // border: 1px solid #979797;
}
.basicsleft img {
  width: 140px  !important;
  height: 140px !important;

}

.basicsright {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  font-size: 2vh;
  color: rgb(170, 170, 170);
}
.basicscont {
  width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.plotbasics {
  font-size: 14px;
  color: #ffffff;
  text-align: justify;
  padding: 20px;
  // border: 1px solid #979797;
  width:100%;
  max-width:800px
}

.plotdivider {
  font-family: montserrat;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #4197f3;
  width: 100%;
  max-width: 840px;
  text-align: initial;
}

.plottraits {
  padding: 4px;
  background-color: #7d49d9;
  color: #fff;
  font-family: montserrat;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 8px;
}
// PhotoView Overwrite styles
.PhotoView__PhotoBox{
  transform: matrix(1, 0, 0, 1, 0, 53) !important;
}
// Modal config
body input.read {
  display: none;
}
body .read:checked + label + input + .panel {
  right: 0;
  left: 0;
}
body .read:checked + label {
  width: 77px !important;
}
body .read:checked + label::after {
  opacity: 1;
  left: 0;
}
body .read:checked + label + label {
  transition: all 0.3s 0.6s;
  opacity: 1;
}
body .read:not(:checked) + label + label {
  transition: all 0.3s 0s;
  opacity: 0;
}
body label.close {
  position: absolute;
  right: 60px;
  opacity: 0;
  transition: all 0.3s 0.4s;
  z-index: 3;
  top: 65px;
}
body label.closeBig {
  position: absolute;
  top: 51px;
  left: 0;
  height: 30px;
  transition: all 0.2s;
  z-index: 999;
  width: 0;
  background: rgb(65 93 226 / 19%);
}
body label.closeBig::after {
  content: "Back";
  text-align: center;
  font-size: 20px;
  color: white;
  position: absolute;
  left: -140px;
  opacity: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
body .panel {
  position: absolute;
  right: 100%;
  top: 51px;
  height: 83vh;
  transition: all 0.2s;
  color: white;
  background: black;
  padding: 2rem;
  overflow-y: scroll;
  z-index: 99;
  display: flex;
  flex-flow: column;
  align-items: center;
}
body .panel body::-webkit-scrollbar {
  width: 1em;
}
body .panel body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body .panel body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body .panel .profile {
  padding-top: 4px;
}
body .panel .profile p {
  line-height: 10px;
}
body .panel .profile p span {
  font-weight: 600;
  color: black;
}
body .panel img {
  border-radius: 2px;
  width: 80%;
}
body .panel h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 0 0;
  letter-spacing: 3px;
  top: 0;
  padding: 49px 0 0 0;
  width: 100%;
  font-size: 20px;
}
body .panel h1::after {
  width: 30px;
  height: 2px;
  // background: #ec864e;
  display: block;
  content: "";
  margin-bottom: 30px;
  margin-top: 8px;
}
body .panel h2 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 30px;
}
body .panel h2::after {
  width: 30px;
  height: 2px;
  background: black;
  display: block;
  content: "";
  margin-top: 8px;
}
body .panel p {
  color: #fff;
    font-size: 12px;
    line-height: 16px;
}